In [76]:
# Add the dependencies.
import pandas as pd
import os
# Files to load
school_data_to_load = os.path.join("Resources", "schools_complete.csv")
student_data_to_load = os.path.join("Resources", "students_complete.csv")

In [77]:
# Read the school data file and store it in a Pandas DataFrame.
school_data_df = pd.read_csv(school_data_to_load)
school_data_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [78]:
# Determine if there are any missing values in the school data.
school_data_df.count()

School ID      15
school_name    15
type           15
size           15
budget         15
dtype: int64

In [79]:
# Determine if there are any missing values in the student data.
student_data_df.head

<bound method NDFrame.head of        Student ID     student_name gender grade         school_name  \
0               0     Paul Bradley      M   9th   Huang High School
1               1     Victor Smith      M  12th   Huang High School
2               2  Kevin Rodriguez      M  12th   Huang High School
3               3    Richard Scott      M  12th   Huang High School
4               4       Bonnie Ray      F   9th   Huang High School
...           ...              ...    ...   ...                 ...
39165       39165     Donna Howard      F  12th  Thomas High School
39166       39166        Dawn Bell      F  10th  Thomas High School
39167       39167   Rebecca Tanner      F   9th  Thomas High School
39168       39168     Desiree Kidd      F  10th  Thomas High School
39169       39169  Carolyn Jackson      F  11th  Thomas High School

       reading_score  math_score
0                 66          79
1                 94          61
2                 90          60
3                 67          58
4                 97          84
...              ...         ...
39165             99          90
39166             95          70
39167             73          84
39168             99          90
39169             95          75

[39170 rows x 7 columns]>

In [86]:
# Read the student data file and store it in a Pandas DataFrame.
student_data_df = pd.read_csv(student_data_to_load)
student_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [99]:
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. "," Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]
# Iterate through the words in the "prefixes_suffixes" list and replace them with an empty space, "".

for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")

data = student_data_df.iloc[:10,:10]
# print (student_data_df)

print(data)

   Student ID     student_name gender grade        school_name  reading_score  \
0           0     Paul Bradley      M   9th  Huang High School             66
1           1     Victor Smith      M  12th  Huang High School             94
2           2  Kevin Rodriguez      M  12th  Huang High School             90
3           3    Richard Scott      M  12th  Huang High School             67
4           4       Bonnie Ray      F   9th  Huang High School             97
5           5    Bryan Miranda      M   9th  Huang High School             94
6           6    Sheena Carter      F  11th  Huang High School             82
7           7     Nicole Baker      F  12th  Huang High School             96
8           8     Michael Roth      M  10th  Huang High School             95
9           9   Matthew Greene      M  10th  Huang High School             96

   math_score
0          79
1          61
2          60
3          58
4          84
5          94
6          80
7          69
8          87
9          84